{%- for block in blocks -%}
{%- case block.type -%}
  {%- when '@app' -%}
    {% render block %}
  {%- when 'text' -%}
    <p
      class="product__text inline-richtext{% if block.settings.text_style == 'uppercase' %} caption-with-letter-spacing{% elsif block.settings.text_style == 'subtitle' %} subtitle{% endif %}"
      {{ block.shopify_attributes }}
    >
      {{- block.settings.text -}}
    </p>
  {%- when 'title' -%}
    <div class="flex flex-col gap-2">
    <p
      class="text-sm text-gray-700 font-normal"
      id="Sku-{{ section.id }}"
      role="status"
      {{ block.shopify_attributes }}
    >
      <span class="font-semibold">{{ 'products.product.sku' | t }}:</span>
      {{- product.selected_or_first_available_variant.sku -}}
    </p>
    <div class="product__title" {{ block.shopify_attributes }}>
      <h1 class="text-5xl">{{ product.title | escape }}</h1>
    </div>
    </div>
  {%- when 'vendor'-%}
    <span class="py-1.5 px-2.5 border border-gray-200 rounded-sm w-fit uppercase">{{ product.vendor }}</span>
  {%- when 'price' -%}
    <div id="price-{{ section.id }}" class="flex flex-col gap-2" role="status" {{ block.shopify_attributes }}>
      {%- render 'price',
        product: product,
        use_variant: true,
        show_badges: true,
        price_class: 'price--large'
      -%}
    <div {{ block.shopify_attributes }}>
      {%- assign product_form_installment_id = 'product-form-installment-' | append: section.id -%}
      {% comment %} Klarna goes here {% endcomment %}
      <div class="w-full bg-gray-100 p-2.5 text-sm font-normal flex items-center justify-between">
        <div>
        <span>4 interest-free payments of $12.74.</span>
        <a href="#" class="text-brand underline">Learn more</a>
        </div>
        {% render 'icon', icon: 'klarna-logo', class: '!w-10' %}
      </div>
    </div>
  </div>
  {%- endcase -%}
{%- endfor -%}
