{% liquid
   assign current_variant = product.selected_or_first_available_variant 
  if current_variant.price < current_variant.compare_at_price
    assign show_badge = true
    assign badge_type = 'sale'
  endif
%}

<div x-data="productGallery('{{ product.handle }}', {{ product.selected_or_first_available_variant.id }})" class="flex w-full max-w-[100vw]">
  <div x-ref="verticalSlider" class="swiper w-full h-full md:max-w-[100px] md:h-auto overflow-auto relative">
      <div :class="$store.variant.sale ? 'block md:hidden' : 'hidden'" class="absolute z-[10] top-3 left-3">
        <span class="px-2.5 py-1.5 bg-gray-800 rounded-sm text-white uppercase">Sale</span>
      </div>
  <div class="swiper-wrapper w-full">
   {%- for media in product.media -%}
    <div @click="updateImage(event,'{{ shop.url }}/cdn/shop/{{ media.preview_image.src }}')" class="swiper-slide cursor-pointer">
      <div class="swiper-zoom-container">
        {{ media.preview_image | image_url: width: 1946 | image_tag: class: image_class, loading: lazy, sizes: sizes, widths: '246, 493, 600, 713, 823, 990, 1100, 1206, 1346, 1426, 1646, 1946', class: 'w-auto object-cover md:w-full h-full md:object-contain' }}
      </div>
    </div>
   {%- endfor -%}
  </div>
  <div class="swiper-pagination md:hidden"></div>
</div>
  <div class="hidden md:block w-full object-cover relative">
    <div :class="$store.variant.sale ? 'block' : 'hidden'" class="absolute z-[10] top-3 left-3">
        <span class="px-2.5 py-1.5 bg-gray-800 rounded-sm text-white uppercase">Sale</span>
    </div>
      <img 
      x-ref="imageTrack"
      class="featuredMedia w-full"
      src="{{ product.featured_image.src | img_url: '500x'}}" alt="{{ image.alt | escape }}" class="w-full object-cover">
  </div>
</div>

<script>
  window.variantImages = {
    {% for fields in shop.metaobjects.variant_images.values %}
    {% if fields %}
    {% assign variants = fields.variants.value %}
    {% assign images = fields.images.value %}
    {% for variant in variants %}
    "{{ variant.id }}": [
      {% for image in images %}
      {{ image | json }},
      {% endfor %}
    ],
    {% endfor %}
    {% endif %}
    {% endfor %}
  }

  console.log('variant image',variantImages)
</script>
