
<div class="pick-up-container order-3 mb-6 md:mb-0" x-data="storeAvailability({{ product.selected_or_first_available_variant.id }}, '{{ product.handle }}')">
  <div class="bg-gray-100 p-3.5 flex items-center gap-2.5">
    {% render 'icon', icon: 'checkmark-circle', class: '!h-4 !w-4' %}
    <span class="uppercase font-bold">Available to pick up in the following stores</span>
  </div>
  <template x-for="(location, index) in pickupLocations" :key="index">
    <div class="pick-up flex gap-2 w-full text-xs p-3.5 border-t border-l border-r border-gray-200"
         :class="{'border-b': index == pickupLocations.length - 1}"
    >
      <div class="flex flex-col gap-2 w-full">
        <span class="uppercase text-xs font-bold" x-text="location.name"></span>
        <address class="text-xs not-italic">
          <span x-html="location.address"></span>
        </address>
        </div>
        <div @click="renderPopup(location)" class="cursor-pointer w-fit h-fit">
          {% render 'icon', icon: 'question-circle', class: '!h-3 !w-3 text-brand' %}
        </div>
    </div>
  </template>
{% render 'store-availability-popup' %}
</div>

<script>
   window.storeAvailabilities = {
    {% for variant in product.variants %}
      "{{ variant.id }}": {
        {% for availability in variant.store_availabilities %}
          "{{ availability.location.id }}": {
            "id": "{{ availability.location.id }}",
            "name": "{{ availability.location.name }}",
            "address": "{{ availability.location.address | format_address }}",
            "phone": "{{ availability.location.phone }}",
            "hours": "{{ availability.location.hours }}"
          }{% unless forloop.last %},{% endunless %}
        {% endfor %}
      }{% unless forloop.last %},{% endunless %}
    {% endfor %}
  };

  console.log('store availabilities', window.storeAvailabilities);
</script>
